main#primary {
  width: calc(100% - 370px);
  margin-left: auto;
  overflow: hidden;

  &::before {
    content: url(./sass/imgs/wordpress-logo.svg);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  &::after {
    content: url(./sass/imgs/note.svg);
    display: block;
    position: absolute;
    right: 0;
    top: 300px;
  }
}

.entry-content {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}
