/* Basic Colors*/
$color__background-body: #0f0715;
$color__dark: #090e12;
$color__surface-card: #59168b;
$color__primary-purple: #ad46ff;
$color__highlight: #2a1454;
$color__white: #ffffff;
$color-accent: #f50013;
$color__border-default: #8750f7;
$color__secondary-grey: #d1d5dc;
$color__border-button: $color__border-default;

/* Elemnts Colors*/
$color__link: #ad46ff;
$color__link-visited: $color-accent;
$color__link-hover: $color-accent;
$color__text-input: #ffffff;
$color__border-input: #8750f7;
$color__text-input-focus: $color-accent;
$color__background-screen: $color__background-body;

/* Gradient Colors*/
$color__gradient-blue: linear-gradient(90deg, #9810fa 0%, #4f39f6 100%);
$color__gradient-main: linear-gradient(90deg, #c27aff 0%, #7c86ff 100%);
$color__gradient-primary: linear-gradient(180deg, #7c46e9 0%, #2a1454 100%);

// Shadows
$box-shadow-default: 0 0 30px 0 rgba(135, 80, 247, 0.5);
