#masthead {
  display: flex;

  flex-direction: column;
  position: fixed;
  top: 10%;
  left: 50px;
  bottom: 0;
  width: 300px;
  overflow-y: auto;
  z-index: 997;
  padding: 0 15px;
  justify-content: start;
  transition: 0.3s ease-in-out;

  // Content Navigation layout styles
  #site-navigation {
    display: flex;
    background-color: $color__background-body;
    border-radius: 10px;
    border: 1px solid rgba(173, 70, 255, 0.5);
    box-shadow: $box-shadow-default;
    max-width: 300px;
    min-height: 470px;
    padding: 35px 20px;
    flex-direction: column;
    justify-content: space-between;
    /* stylelint-disable-next-line rule-empty-line-before */
    #primary-menu {
      margin-left: 0;
      padding-left: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .menu-item {
        @extend %menu-button;
      }
    }

    .socials {
      display: flex;
      gap: 1.6rem;

      a {
        display: flex;
        min-height: 40px;
        min-width: 40px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        border: 1px solid $color__link;

        &:hover {
          background: $color__gradient-blue;

          svg path {
            fill: #fff;
          }
        }
      }
    }
  }

  // Toggel Button styles
  .menu-toggle {
    display: none;
  }
}
